html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(218, 218, 218);
}


.home {
  height: 600px;
  background-image: url("./css-resources/bg.jpg");
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
}

.home-title {
  max-width: 940px;
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
}



.home-title h1 {
  color: #333;
    /* outline */
    -webkit-text-stroke: 2px #333;
    -webkit-text-fill-color: transparent;
    /* fallback */
    color: #333;

  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  text-transform: uppercase;
  padding: 300px 0px;
}


#Grammar-Essential {
  border-top: solid 2px #333;
}


/*[Change to position to "fixed" activate fixed*/
header {
  background-color: #333333;
  position: static;
  width: 100%;
  z-index: 1; 
}



header h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 80px;
  margin-bottom: 80px;
  text-transform: uppercase;
}



nav {
  margin: 0;
  padding: 20px 0;
}


nav li {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 80px;
}


header .link {
  color: #ffffff;
  text-decoration: none;
}


/* change position to "fixed" to activate fixed feature */
main {
  text-align: center;
  position: static;
  top: 80px;
}

main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0px;
  padding-top: 80px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.background-slot {
  height: 800px;
  background-image: url("");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* change position to "fixed" to activate fixed feature */
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  position: static;
  width: 100%;
  z-index: 1;
  bottom: 0
}


footer p {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  display: inline-block;
  width: 120px;
}


footer .link {
  color: #ffffff;
}

